.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2E2D2B;
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #FDD22B;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}

.home-container .animation-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  width: 50%;
  height: 50%;  
}

.home-container .animation-frame body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.home-container .animation-frame .anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.home-container .animation-frame .anim path {
  stroke-width: 2;
}